<!DOCTYPE html>
<html xmlns:mailto="http://www.w3.org/1999/xhtml" xmlns:tel="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">

<head>

  <title>Creathive</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="google-site-verification" content="" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">



  <!-- Favicons -->
  <link rel="shortcut icon" href="/static/images/fav.png">

  <!-- Js Links -->
  <script src="/static/js/jquery-2.1.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.sticky.js" type="text/javascript"></script>
  <script src="/static/js/jquery.nicescroll.min.js"></script>
  <script src="/static/js/owl.carousel.js" type="text/javascript"></script>
  <script src="/static/js/jquery.validate.min.js"></script>
  <script src="/static/js/_home.js"></script>
  <script type="text/javascript" src="/static/js/_accounts.js"></script>
  <script type="text/javascript" src="/static/js/_ajaxHelper.js"></script>
{#  <script type="text/javascript" src="/static/js/script.js"></script>#}

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/fonts.css"><!-- / template styles -->
  <link rel="stylesheet" href="/static/css/animate.css"><!-- / template styles -->
  <link rel="stylesheet" href="/static/css/font-awesome.css"><!-- / template styles -->
  <link rel="stylesheet" href="/static/css/owl.carousel.css">
  <link rel="stylesheet" href="/static/css/style.css"><!-- / template styles -->
{#  <link rel="stylesheet" href="css/www-embed-player-webp-vfl3j4Zuz.css">#}
  <style type="text/css">
  a.ytp-youtube-button, .ytp-title-link, .yt-uix-sessionlink{
    display: none !important;
  }
  [contentEditable=true]:empty:before{
    content:attr(data-placeholder);
    color: #cbcbcb;
  }
  </style>
</head>
<body>
  <div class="body-overlay"></div>

  <!-- Header -->
  <section id="header">
    <div class="container">
      <div class="header-con">
        <div class="logo">
          <img src="/static/images/logo.png" alt="Creathives" class="logo-desk">
          <img src="/static/images/logo-mobile.png" alt="Creathives" class="logo-mobile">
        </div>
        <div class="header-midMenu hide">
          <ul>
            <li>
              <a class='all active tabs'>
                <img src="/static/images/header/all.png" alt="all">
                <div>All</div>
              </a>
            </li>
            <li>
              <a class='videos tabs'>
                <img src="/static/images/header/videos.png" alt="videos">
                <div>Videos</div>
              </a>
            </li>
            <li>
              <a class='tracks tabs'>
                <img src="/static/images/header/audios.png" alt="tracks">
                <div>Tracks</div>
              </a>
            </li>
            <li>
              <a class='images tabs'>
                <img src="/static/images/header/images.png" alt="images">
                <div>Images</div>
              </a>
            </li>
            <li>
              <a class='articles tabs'>
                <img src="/static/images/header/articles.png" alt="articles">
                <div>Articles</div>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-rightMenu">
          <span>
            <a href="#"><img src="/static/images/bell.png" alt="Notifications"></a>
          </span>
          <span class="header-profilePic"><a href="#"><img src="{{ artist.profile_pic_thumb }}" alt="Username"></a></span>
          <span>
              <div class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/images/arrow-down.png"></a>
                 <ul class="dropdown-menu">
                     <form id="logout_form">{% csrf_token %}
                        <li><a href="#" id="logout">Logout</a></li>
                     </form>
                 </ul>
              </div>
          </span>
        </div>
      </div>
    </div>
  </section>

  <!-- Banner -->
  <section id="banner">
    <img id="cover_pic" src="{{ artist.cover_pic }}" alt="">
    <!-- Portfolio Edit -->
    <a href="#"> <img class="edit-wall hide" src="/static/images/edit/camera1.png" alt="Change"></a>
    <form class="form-inline" id='profile_cover_image_form' style="display: none" enctype="multipart/form-data">
      <div class="form-group">
        <input type='file' name='profile_cover_image' id='profile_cover_image' style='display:none;'>
      </div>
    </form>
  </section>

  <!-- User profile -->
  <section id="userProfile" class="">
    <div class="container">
      <div class="profile_pic_large">
        <img id="profile_pic" src="{{ artist.profile_pic }}" alt="{{ artist.user.id }}">
        <!-- Portfolio Edit -->
        <a href="#"> <img class="edit-prof hide" src="/static/images/edit/camera2.png" alt="Change"></a>
        <form class="form-inline" id='profile_image_form' style="display: none" enctype="multipart/form-data">
          <div class="form-group">
            <input type='file' name='profile_image' id='profile_image' style='display:none;'>
          </div>
        </form>
      </div>
      <div class="col-lg-4 col-lg-offset-2 col-md-4 col-offset-md-2 col-sm-10 col-sm-offset-2 col-xs-12">
        <!-- Portfolio Edit -->
        <div class="profile_name">
          <h3 class="color-000" contentEditable="false" data-placeholder="Name here">{{ artist.user.get_full_name }}</h3>
          <p class="color-666 user-obj" contentEditable="false" data-placeholder="About Me">{{ artist.about_me }}</p>
          <img src="/static/images/edit/pen.png" class="edit-pen hide" alt="edit">
          <img src="/static/images/edit/portfolio.png" class="edit-save hide" alt="save">
        </div>
      </div>

      <!-- Email and Phone Number -->
      <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-10 col-sm-offset-2 col-xs-12 pad-zero">
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 center-text ">
          <div class="profile_emailId border-divider">
            <a href="mailto:{{ artist.user.email }}" class="color-000">
              <span><img src="/static/images/mail.png" alt="Email"></span>
              {{ artist.user.email }}
            </a>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 center-text">
          <div class="profile_contactNo border-divider">
            <a href="tel:{{ artist.user.contact_number }}" class="color-000">
              <span><img src="/static/images/phone.png" alt="Phone"></span>
              +91-{{ artist.user.contact_number }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Edit -->
  <section id="uploadFile" class="hide">
    <div class="tab-border">
      <div class="container">
        <ul>
          <li class="active li-br">
            <span>
              <img src="/static/images/edit/portfolio.png" alt="Portfolio">
              Portfolio
            </span>
          </li>
          <li>
            <img src="/static/images/edit/history.png" alt="History">
            History
          </li>
        </ul>
      </div>
    </div>

    <div class="upload-content">
      <div class="container">
        <p class="upload-note">Add more Projects to join the Talent pool <a href="#"><img src="/static/images/edit/ques.png" alt="?"></a></p>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12 pl-zero">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
              Protfolio 75% complete
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
          <button class="btn btn-black"> Add a project </button>
        </div>
        <div class="close-progress">
          <img src="/static/images/close.png" alt="Close">
        </div>
      </div>
    </div>

  </section>

  <!-- Main Content -->
  <section id ="main_Content" class="margin-0">
    <div class="container">

      <!-- Left Panel -->
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pr-zero mob-none" id="leftView">
        <div id="sticky-anchor"></div>
        <!-- view profile -->
        <div class="leftPanel">
          <div class="lp_title">
            <span id="count">{{ projects.count }}</span> Projects
            <!-- Portfolio Edit -->
            <button class="btn btn-black show">ADD <img src="/static/images/edit/plus.png" alt="+"></button>
          </div>
          <hr class="ul-border">
          <div class="left-panel-scroll">
            <ul>
            {% if projects.count > 0 %}
                {% for project in projects %}
                    <li data-proj-id="{{ project.id }}">
                        <a href="#">
                            <img src="{{ project.thumbnail }}" alt="">
                            <span>{{ project.title }}</span>
                            <div class="overLay"></div>
                            <img src="/static/images/edit/empty-trash.png" class="emptyTrash" alt="delete">
                            <img src="/static/images/edit/trash.png" class="deleteTrash" alt="delete">
                        </a>
                        <div class="deletePrompt" style="display: none;">
                            <h4>Are you sure?</h4>
                            <a href="#" class="no">Cancel</a>
                            <a href="#" class="yes">Yes, Delete</a>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
            </ul>
          </div>
          <hr class="ul-border">
        </div>
      </div>

      <!-- Right view body -->
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pl-zero" id="rightView">

        <!-- View profile -->
        <div class="right_viewArea">
          <div id="anchor-point"></div>
          <ul class="nav-categories">
            <li  class="all active tabs">
              <a>
                <img src="/static/images/header/all-black.png" alt="all">
                <span>All</span>
              </a>
            </li>
            <li class='videos tabs'>
              <a>
                <img src="/static/images/header/videos-black.png" alt="videos">
                <span>Videos</span>
              </a>
            </li>
            <li class='tracks tabs'>
              <a>
                <img src="/static/images/header/audios-black.png" alt="tracks">
                <span>Tracks</span>
              </a>
            </li>
            <li class='images tabs'>
              <a>
                <img src="/static/images/header/images-black.png" alt="images">
                <span>Images</span>
              </a>
            </li>
            <li class='articles tabs'>
              <a>
                <img src="/static/images/header/articles-black.png" alt="articles">
                <span>Articles</span>
              </a>
            </li>
          </ul>
          <div id="rightView_content">
            <div class="pH_row" data-proj-id="{{ projects.0.id }}">
              <img src="/static/images/edit/pen.png" class="edit-proj show" alt="edit">
              <div class="titleSection">
                <span class="p_mt">{{ projects.0.title }}</span>
                <span class="p_st">{{ projects.0.type }}</span>
              </div>
              <div class="descSection">
                <p>{{ projects.0.description }}</p>
              </div>
            </div>

            <!-- Portfolio Edit -->
            <div class="pH_row-edit hide" data-proj-id="0">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="/static/images/edit/titleImage.png" alt="Upload Image">
                    <form class="form-inline" id='project_title_image_form' style="display: none" enctype="multipart/form-data">
                      <div class="form-group">
                        <input type='file' name='project_title_image' id='project_title_image' style='display:none;'>
                      </div>
                    </form>
                  </a>
                </div>
                <div class="media-body">
                  <span class="media-heading edit-projTitle" contentEditable="true" data-placeholder="Project Title"></span>
                  <span contentEditable="true" class="edit-projType" data-placeholder="Project Type"></span>
                  <span contentEditable="true" class="edit-projDesc" data-placeholder="Project Description"></span>
                </div>
              </div>
              <div id="proj_info_submit" style="display:none; border:1px dotted; text-align: center; color: #D8000C; background-color: #FFBABA; "  class="error">Project Title Is Required </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="media-tabs">
                    <form class="form-inline" id='media_upload_form' style="display: none" enctype="multipart/form-data">
                      <div class="form-group">
                        <input type='file' name='media_upload' id='media_upload' style='display:none;'>
                      </div>
                    </form>
                    <ul>
                      <li class="icn">
                        <a href="#">
                          <img id="video" src="/static/images/header/videos-black.png" alt="videos">
                        </a>
                      </li>
                      <li class="icn">
                        <a href="#">
                          <img  id="audio" src="/static/images/header/audios-black.png" alt="Tracks">
                        </a>
                      </li>
                      <li class="icn" >
                        <a href="#">
                          <img id="article" src="/static/images/header/articles-black.png" alt="Articles">
                        </a>
                      </li>
                      <li class="icn" >
                        <a href="#">
                          <img id="image" src="/static/images/header/images-black.png" alt="Images">
                        </a>
                      </li>
                    </ul>
                    <p>Click to upload media</p>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <div class="media-upload-URL">
                    <label for="mediaURL">ADD URL</label>
                    <input type="text" class="form-control" id="mediaURL" placeholder="http://">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <img src="/static/images/edit/trash.png" class="remove-mid remove-media" alt="edit">
          <img src="/static/images/edit/close.png" class="cancel-remove-mid remove-media" alt="save">
          <div class="project_lists show">
            <!-- Portfolio Edit add class="thumb-edit"-->
          </div>
        </div>

        <!-- Portfolio Edit -->
        <div class="countDisplay hide">
          <span>3</span> images and <span>5</span> videos selected
          <button class="btn btn-black">DELETE</button>
        </div>
      </div>
        <div class="video-modal" data-media-id="0">
          <div class="gallery-header">
            <h4>Add a project title</h4>
            <span class="viewer-close">2 | 4</span>
          </div>
          <div class="video-modal-left">
            <div class="video-viewer large">
              <div class="player">
                <div class="mediaplayer">
                    <iframe id="load_article" class="hide" width="100%" height="100%" src="" frameborder="0" scrolling="no"  allowfullscreen=""></iframe>
                    <audio id="load_audio" class="hide" width="100%" src=""  controls></audio>
                    <iframe id="load_video" class="hide" width="100%" height="100%" src="" frameborder="0" allowfullscreen></iframe>
                    <img  id="load_image" class="hide" width="100%" height="100%" src="">
                </div>
                <div class="loader-display show">
                  <div class="upload-progress-bar">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; display:none;">
                      </div>
                    </div>
                  </div>
                  <div class="upload-placeholder text-center">
                    <img src="/static/images/loader-img.png" alt="Loader">
                    <label>Loading...</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="video-thumbnails large">
            <div class="prev-video"><img src="/static/images/prev-large.png"></div>
              <ul>

              </ul>
              <div class="next-video"><img src="/static/images/next-large.png"></div>
            </div>
          </div>
          <div class="video-modal-right">
            <div class="video-desc">
              <img src="/static/images/edit/pen.png" class="edit-mid show" alt="edit">
              <h4>Media Details</h4>
              <span contentEditable="false" class="edit-midTitle" data-placeholder="Media Title"></span>
              <span contentEditable="false" class="edit-midDesc" data-placeholder="Media Description"></span>
            </div>
            <div id="mid_info_submit" style="display:none; border:1px dotted; text-align: center; color: #D8000C; background-color: #FFBABA; "  class="error">Media Title & Description Is Required </div>
          </div>
          <div class="gallery-footer">
            <button class="btn btn-share">SHARE</button>
            <button class="btn btn-black btn-done">DONE</button>
          </div>
        </div>
    </div>
  </section>

  <!-- Footer -->
  <section id="footer">
    <div class="footer-sec hide">
      <div class="footer-form">
        <div class="container">
          <div class="col-md-6 col-sm-6 col-xs-12 pad-zero">
            <div class="social-sec">
              <div class="col-md-4 col-sm-4 col-xs-12 pad-align">
                <h4>Follow us on</h4>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-12 pad-zero">
                <ul>
                  <li>
                    <a href="#">
                      <img src="/static/images/social/fb.png">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/static/images/social/twitter.png">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/static/images/social/in.png">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/static/images/social/gplus.png">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12 pad-zero">
          </div>
        </div>
      </div>
    </div>
    <div class="footer-link mob-none hide">
      <div class="container ">
        <div class="foo-link-heading">
          <h4>NETWORK</h4>
          <span></span>
        </div>
        <div class="page-foo-links">
          <ul>
            <li><a href="#">Join the Talent Pool</a></li>
            <li>|</li>
            <li><a href="#">Book a Venue</a></li>
            <li>|</li>
            <li><a href="#">Hire a Conceptual Artist</a></li>
            <li>|</li>
            <li><a href="#">How it Works</a></li>
            <li>|</li>
            <li><a href="#">T&C</a></li>
            <li>|</li>
            <li><a href="#">Privacy Policy</a></li>
            <li>|</li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyrights pad-zero col-md-12">
      <div class="footer-copy">
        <div class="container pad-zero">
          <div class="col-md-6 float-left">
            <img src="/static/images/footer-logo.png">
          </div>
          <div class="col-md-6">
            <label>&copy Copyrights Reserved </label>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
